*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.cabesalho{
    display: flex;
    background-color: #1f6eaf;
    height: 105px;
    box-shadow: 1px 1px 10px black;
}

.cabesalho a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin-left: 60px;
}

.label{
    display: flex;
    align-items: center;
}


.logo{
    padding: 10px 0px 0px 40px;
}

.categoriac{
    margin-top: 40px;
    background-color: #ffffff;
    width: 500px;
    height: 500px;
    text-align: center;
    border-radius: 20px;
    border-width: 30px;
    box-shadow: 0px 0px 10px 1px rgb(177, 174, 174);
}

.categoriac label{
    color: #1f6eaf;
    margin-right: 230px;
}

.categoriac h1{
    color: #1f6eaf;
}

.botao input{
    width: 110px;
    border-radius: 8px;
    background-color: #1f6eaf;
    border-width: 0px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 3px 1px #103858;
}

.input{
    height: 24px;
    width: 300px;
    border-radius: 8px;
    border: 2px #197cce solid;
    padding: 5px;
    margin: 0px 0px 25px 95px;
}

.input input{
    width: 80%;
    padding: 5px 0px 0px 0px;
    border: none;
    outline: none;
}

.categoriaC{
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.page{
    display: flex;
    justify-content: center;
}

.pagUsuario{
    background-color: #e7ecef8c;
    width: 100%;
    height: 1650px;
}

.pagHome{
    background-color: #e7ecef8c;
    width: 100%;
    height: 1650px;
}